.header span{
	display:block;
}
.header{
	font-size: 24px;
	margin-bottom:40px;}

.section{
	padding: 30px 10px;
}

.form-action{
	border:5px solid blue;
	padding: 20px;
}

.form-action input{
	margin-bottom:20px;
}


.btn-form{
	margin-top: 10px;
}
.form-header{
	font-weight: 900;
	margin-bottom:30px ;
}

.form-action form{
	height:210px;
}

img{
	width: 70px;
	height: 70px;
}
.feature-header{
	margin-bottom: 50px;
}
iframe{
	border:5px solid blue;
}